<p-fieldset collapsed="false">
    <p-header>Add new category</p-header>
    <form role="form" #categoryForm="ngForm">
        <fieldset class="form-group">
            <label>Category name</label>
            <input class="form-control" [(ngModel)]="category.name" name="tag" placeholder="Category name..." required>
        </fieldset>
        <button class="btn btn-success" [disabled]="categoryForm.invalid" (click)="createCategory()">Dodaj</button>
    </form>
</p-fieldset>
<div class="card mb-3 mt-3">
    <div class="card-header">Posts belong to category: {{category.name}}</div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Post title (click row to check post details)</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable" *ngFor="let post of posts" routerLink="/admin/post/{{post.postId}}">
                <td>{{post.title}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
