<div class="card mb-3 mt-3">
    <div class="card-header">Posts</div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable" *ngFor="let user of users">
                <td>{{user.email}}</td>
                <td>{{user.role.roleName}}</td>
                <td>
                    <button class="btn" [ngClass]="user.enable? 'btn-danger' : 'btn-success'"
                            (click)="user.enable? lockUser(user.userId) : unlockUser(user.userId)">
                        {{user.enable ? 'Lock' : 'Unlock'}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
