<div [@routerTransition]>

        <div class="row">
            <div class="col-xl-12">
                <h1>{{post.title}}</h1>
                <div class="mt-2">
                    {{post.content}}
                </div>
            </div>
        </div>
    <div class="container mt-4">
                <fieldset class="form-group" *ngIf="isLoggedIn(); else elseBlock">
                    <label>Leave a comment!</label>
                    <textarea class="form-control" [(ngModel)]="comment.content" name="content" rows="3"></textarea>
                    <button class="btn btn-success mt-3 mb-5" (click)="createComment()">Add comment!</button>
                </fieldset>
                <ng-template #elseBlock>
                    Please login to comment...
                </ng-template>

            <h5>Comments:</h5>
            <div class="row mt-3" *ngFor="let comment of comments">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h3><i class="fa fa-fw fa-user-circle-o"></i>{{comment.email}}</h3>
                            <h5 class="pl-5">{{comment.content}}</h5>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
